@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
	font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
}


body {
	background: #5b5e5e;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	overflow: hidden;
	background: url(./assets/image/dd.jpg);
    background-position: center;
    background-size: cover;
}



form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: transparent;
	border-radius: 15px;
	backdrop-filter: blur(4px);
}

h2 {
	text-align: center;
	margin-bottom: 40px;
	color: #fff;
	font-size: 40px;
	font-weight: 800;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
	background: #e9e0e0;
}
label {
	color: #efefef;
	font-size: 18px;
	padding: 10px;
}

button{
    padding: 10px 10px;
    font-size: 0.9rem;
    border-radius: 15px;
    outline: none;
    font-weight: 600;
    background: rgb(66, 186, 134);
    color: #fff;
    border: none;
}

button:hover{
    background: #81d8e8;
    color:  rgb(39, 34, 77);
    transition: 0.2s;
    transform: scale(1.2);
    font-weight: 700;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}